.header-color {
    background: #4DA0B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Landing-grid {
    background: #4DA0B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

.avatar-img {
    height: 250px;
    padding-top: 5em;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.social-links {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.social-links i{
    color: white;
    font-size: 5em;
    padding: 8px;
}



